.App {
  text-align: center;
}

body {
  background-color: #faf0e6;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #faf0e6;
}

.banner .logo {
  margin: 0 auto;
}

.logo {
  max-width: 800px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.wrapper {
  border: 2px solid #5027e7;
  padding: 20px;
  border-radius: 10px;
}

.button {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #5027e7;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.button:focus {
  outline: none;
}

.property-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-option-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.submit-wrapper {
  margin-top: 20px;
}

.submit-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.image-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.warning-popup {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
